<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippets bootdey">
    <div class="col-md-9 col-sm-8 content">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Cart</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-info panel-shadow">
                    <div class="panel-heading">
                       <!-- <td *ngFor="let user of UserReg">
                            
                           
                        </td>-->
                        <tr>{{name}}</tr>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>PRODUCT NAME</th>
                                        <th>Price</th>
                                        <th>STOCK STATUS</th>
                                        <th>DATE ADDED</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><img src="https://via.placeholder.com/400x200/FFB6C1/000000"
                                                class="img-cart"></td>
                                        <td><strong>HERO PEPPY 20
                                        </strong>
                                        
                                        </td>
                                        <td>
                                           
                                               4.000
                        
                                            
                                        </td>
                                        <td class="text-danger">OUT OF STROCK</td>
                                        <td>December 12, 2020	
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><img src="https://via.placeholder.com/400x200/87CEFA/000000"
                                                class="img-cart"></td>
                                        <td><strong>Product 2</strong>
                                            <p>Size : M</p>
                                        </td>
                                        
                                               <td>4.000</td>
                                               <td class="">Thes</td>
                                               <td>may 2 2021</td>
                                        
                
                                    </tr>
                                   
        
                                    
                                </tbody>
                                <button class="btn btn-primary" (click)="Cart()">Add All to Cart</button>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>