.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}

.my-float{
	margin-top:16px;
}
.fb-ic {
    background: #222;
    padding: 7px 11px 9px 11px;
    border-radius: 50%;
    color: #fff;
    display: inline-table;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 22px;
    line-height: 34px;
}
.fb-ic:hover{
	background-color: blue;
	transition: 0.9s;
    transform: rotateY(180deg);
}
.CcFooter {
	color: black;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	line-break: initial;
	text-align: justify;
	font-family: 'Times New Roman', Times, serif;
}
footer {
	background-color: #a5b3bf;
}
a,h6,strong {
	font-size: 15px;
	color:black;
	text-decoration: none;
	font-weight: bold;
}
i {
	color: white;
}
