<app-nav-bar></app-nav-bar>

<router-outlet></router-outlet>
<a href="https://api.whatsapp.com/send?phone=+91 84970 00049&text=Hello" class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
</a>
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark" style="padding-top: 1px; margin-top: 1px;">



    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">

                <!-- Content -->


                <img src="assets/images/logo1-1.png" alt="" style="padding-bottom: 30px; padding-right: 55px;">
                <p class="CcFooter">Cycleworld is one of the fastest growing cycle dealers in India. Cycleworld has the widest range of
                    Domestic and International Bicycles available for sale in India..</p>

            </div>
        
            <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4" style="padding-left: 10%;">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="">Home</a>
                </p>
                <p>
                    <a href="#!">About</a>
                </p>
                <p>
                    <a href="#!">Blog</a>
                </p>
                <p>
                    <a href="#!">Contact</a>
                </p>

            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Terms & Condition</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>

            </div>
    
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

            
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                
                       <p> <strong class="fa fa-phone">Phone : </strong>
                        <a href="tel:+91 8497000097"> 8497000097</a></p>
                    
                    <p><strong class="fa fa-envelope">Email : </strong> 
                       <a href="mailto:whitefield@cycleworld.in">whitefield@cycleworld.in</a></p>

            </div>
            <div class="col-md-6 col-lg-7 text-center text-md-left" style="padding-bottom: 20px;">

                <!-- Facebook -->
                <a class="fb-ic mx-2">
                    <a target="_blank" href="https://www.facebook.com/cycleworldwhitefieldvarthurkodi"><i class="fa fa-facebook"></i></a>
                </a>
                <!-- Twitter -->
                <a class="fb-ic mx-2">
                    <a target="_blank" href=""><i class="fa fa-instagram"></i></a>
                </a>
                <!--Linkedin -->
                <a class="fb-ic mx-2">
                    <a target="_blank" href=""><i class="fa fa-youtube"></i></a>
                </a>
                <!--Instagram-->
                <a class="fb-ic mx-2">
                    <a target="_blank" href=""><i class="fa fa-twitter"></i></a>
                </a>

            </div>
        

        </div>

    </div>
    <div class="border-top">
        <b style="color: black;">
            <div class="footer-copyright text-center py-2">Copyright 2020 @ CYCLEWORLD
            </div>
        </b>
    </div>
    

</footer>
