<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a routerLink="#"><img src="assets/images/logo1-1.png" class="navbar-brand" style="padding-left: 80px;"></a>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: 20%;">
      <li class="nav-item active">
        <a href="" class="nav-link" style="color: white; padding: 25px;"><span class="fa fa-fw fa-home">
          </span>HOME<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white space-item" style="color: white; padding: 25px;" href="#"
          id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><span class="fa fa-bicycle">

          </span>
          PRODUCTS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item"  routerLink="/list" >Kids</a>
          <a class="dropdown-item" routerLink="/woman">Womens</a>
          <a class="dropdown-item" routerLink="/mens">Mens</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white space-item" style="color: white;padding: 25px;" href="#"
          id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-cog fa-spin">

          </span> ACCESSORIES
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/helmat">TIRES & TUBES
          </a>
          <a class="dropdown-item" routerLink="/bells">Bells</a>
          <a class="dropdown-item" routerLink="/pump">Pump</a>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="/ContactInfo" class="nav-link" style="color: white;padding: 25px;"><span
            class="fa fa-fw fa-envelope">
          </span>CONTACT US</a>
      </li>
      <li class="nav-item">
        <a routerLink="/signinuser" class="nav-link" style="color: white;padding: 25px;"><span
            class="fa fa-sign-in">
          </span> LOGIN</a>
      </li>
      <form method="GET" class="form-inline mr-auto">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" required>
        <button class="btn btn-dark btn-sm" type="submit">Search</button>
      </form>

    </ul>
  </div>
</nav>
