a{
    font-weight: bold;
    
}
.dropdown:hover>.dropdown-menu {
    display: inline-block;
    line-height: 40px; 
  }
  a:hover {
    color:red !important;
    font-weight: bold !important;
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    img {
    position: relative;
    top: -1px;
    z-index: 1;
    
}

.navbar {
  min-height: 70px;
}
/**image***/
.navbar-brand {
  padding: 0 15px;
  height: 50px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}
button{
  font-weight: bold;
}
button:hover{
  background-color: white;
  color:red;
}
.fa:hover {
  transition: 0.9s;
    transform: rotateY(180deg);
    font-size: px;
}






