<div class="table-container col-md-10" style="margin-top: 100px;">
    <div class="table table-bordered table-hover">
      <div class="table-headWIV">
        <div class="columnWIV blank end">&nbsp;&nbsp;&nbsp;</div>
        <div class="columnWIV">&nbsp;</div>
        <div class="columnWIV title">16 SPACE TOY G SPORTS
        </div>
        <div class="columnWIV title light wiivv">Bsa 16 Dora
        </div>
        <div class="columnWIV title"> Denovo Plus 20 ATB FS Boys 20″
        </div>
        <div class="columnWIV blank end">&nbsp;</div>
      </div>
      <div class="rowWIV">
        <div class="columnWIV light blank end">&nbsp;</div>
        <div class="columnWIV light col-title">
          <p>
            Cost Effective<span>Get a pair for all your shoes</span>
          </p>
        </div>
        <div class="columnWIV light pricing">Rs.6.800 </div>
        <div class="columnWIV light pricing text--green">₹5,899.00</div>
        <div class="columnWIV light pricing">₹9,500.00</div>
        <div class="columnWIV light blank end">&nbsp;</div>
      </div>
      <div class="rowWIV">
        <div class="columnWIV light blank end">&nbsp;</div>
        <div class="columnWIV light col-title">
          <p>
            Custom Fit To You<span>Made for your exact feet</span>
          </p>
        </div>
        <div class="columnWIV light blank"></div>
        <div class="columnWIV dark"><i class="material-icons text--green">check</i></div>
        <div class="columnWIV light blank"></div>
        <div class="columnWIV light blank end">&nbsp;</div>
      </div>
      <div class="rowWIV">
        <div class="columnWIV light blank end">&nbsp;</div>
        <div class="columnWIV light col-title">
          <p>Convenient<span>Measure from anywhere using your smart phone</span>
          </p>
        </div>
        <div class="columnWIV light blank"></div>
        <div class="columnWIV light"><i class="material-icons text--green">check</i></div>
        <div class="columnWIV light blank"></div>
        <div class="columnWIV light blank end">&nbsp;</div>
      </div>
      <div class="rowWIV">
        <div class="columnWIV light blank end">&nbsp;</div>
        <div class="columnWIV light col-title">
          <p>
            Happiness Guarantee<span>Try for 30-days risk-free</span>
          </p>
        </div>
        <div class="columnWIV light blank"></div>
        <div class="columnWIV dark"><i class="material-icons text--green">check</i></div>
        <div class="columnWIV light blank"></div>
        <div class="columnWIV light blank end">&nbsp;</div>
      </div>
      <div class="rowWIV">
        <div class="columnWIV light blank end">&nbsp;</div>
        <div class="columnWIV light col-title">
          <p>
            Custom Designs<span>Choose your favorite designs and colors</span>
          </p>
        </div>
        <div class="columnWIV light blank"></div>
        <div class="columnWIV light wiivv--last"><i class="material-icons text--green">check</i></div>
        <div class="columnWIV light blank"></div>
        <div class="columnWIV light blank end">&nbsp;</div>
      </div>
    </div><!-- table -->
  </div>
  