<div class="card">
    <div class="col-md-8">
        <h2> NewsLetter</h2>
        
        <table class="table table-bordered">
          <thead>
          <tr>
            
            <th>UserId</th>
            <th>Email</th>
            
          </tr>
        </thead>
          <tbody>
          <tr *ngFor="let User of Feedback">
            
            <td>{{User.id}}</td>
            <td>{{User.gmailId}}</td>
           <!-- <button class="btn btn-primary">Update</button>&nbsp;  -->      
          </tr>
          </tbody>
        </table>
        </div>
        </div>
        