.carousel-inner{
    width:100%;
    max-height: 700px !important;
  }
  
  #carouselExampleControls{
      margin-bottom: 50px !important;
  }

.h3, h3 {
    font-size: 28px;
}
.wel-ctn h3 {
    font-weight: bold;
}
.wel-ctn p {
    text-align: justify;
    line-height: 30px;
    margin-top: 6%;
    margin-bottom: 32px;
    font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
}
.wel-img {
    text-align: right;
    
}
.wel-ctn {
    padding: 100px 0px 45px 0;
}
.carousel-item{
    height: 500% !important;
}

#arrival {
    padding-top: 50px;
    
}
.card:hover {
    transform: scale(1.1); 
    border-radius: 2%;
    
  }
  .pm-divider {
      font-weight: 300px;
  }
  #Heading {
      font-weight: bold;
      font-size: 35px;
      font-family: 'Roboto', Arial, sans-serif;
      text-transform: uppercase;
      text-decoration: underline;
  }
  .service-content {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/wrapper.jpg");
    position: relative;
}
.cy_achieve_overlay::after {
    position: absolute;
    width: 57.56%;
    right: -4%;
    top: 0;
    height: 100%;
    background-color: rgba(168,207,69,.88);
    content: "";
    transform: skew(-14deg);
    -webkit-transform: skew(-14deg);
    -moz-transform: skew(-14deg);
    -o-transform: skew(-14deg);
    -ms-transform: skew(-14deg);
}
.cy_achieve_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.service-ctn img {
    width: 55px;
}
.service-ctn img {
    width: 55px;
}
img {
    max-width: 100%;
}
.service-ctn {
    padding: 30px 60px 30px;
}
.service-ctn h4 {
    font-size: 20px;
    color: white;
    padding-top: 0;
}
h6 {
    font-size: 20px;
}
.commenPadding {
    padding-top: 50px;
    padding-bottom: 50px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.heading-primary {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.1px;
    margin-bottom: 30px;
    text-decoration: underline;
}
.text-align {
    text-align: center;
}
.date {
    text-align: center;
}
body {
    padding-top: 56px;
  }
  
  /* card */
  .dress-card-img-top {
    width:100%;
    border-radius: 7px 7px 0 0;
  }
  
  .dress-card-body {
    padding:1rem;
    background: #fff;
    border-radius: 0 0 7px 7px;
  }
  
  .dress-card-title {
    line-height: 0.5rem;
  }
  
  .dress-card-crossed {
    text-decoration: line-through;
  }
  
  .dress-card-price {
    font-size: 1rem;
    font-weight: bold;
  }
  
  .dress-card-off {
    color: #E06C9F;
  }
  
  .dress-card-para {
    margin-bottom: 0.2rem;
    font-size: 1.0rem;
    margin-bottom: 0rem;
  }
  
  .dress-card {
    border-radius: 14px;
  }
  
  .dress-card-heart {
    font-size: 1em;
    color: #DB2763;
    margin: 4.5px;
    position: absolute;
    left: 4px;
    top: 0px;
    
  }
  
  .surprise-bubble {
    position: absolute;
    bottom: 12rem;
    right: 2rem;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #fff;
    padding: 1rem;
    color: white;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .surprise-bubble a {
    font-size: 0.65em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-family: arial;
    text-decoration: none;
    position: absolute;
    top: 9px;
    left: 20px;
    opacity: 0;
    -webkit-transition-delay: 2s;
    /* Safari */
    transition-delay: 2s;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .surprise-bubble:hover {
    border-radius: 999rem;
    padding: 1rem;
    width: 26%;
    height: 30px;
    background: #DB2763;
    color: white;
    -webkit-transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.55s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .surprise-bubble:hover a {
    opacity: 1;
    -webkit-transition-delay: 2s;
    /* Safari */
    transition-delay: 2s;
    -webkit-transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: opacity 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .card-button {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 9px;
  }
  .card-button a {
    text-decoration: none;
  }
  
  .card-button-inner {
    padding: 10px;
    border-radius: 3px;
  }
  
  .bag-button {
    background: #E06C9F;
    color: white;
  }
  
  .bag-button :hover{
    background: #e299b9;
  }
  
  .wish-button {
    border: 1px solid #E06C9F;
    color: #E06C9F;
  }
  .section-title h2 {
    color: #a3ca43;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    font-weight: 800 !important;
    text-transform: uppercase;
    font-size: 37px;
    letter-spacing: 2px;
    line-height: 32px !important;
    margin-top: 10px !important;
    text-align: center;
    padding-bottom: 30px;
    
}
.section-title h3 {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #777;
    text-align: center;
}
.wide-section {
    background-image: url(https://cycleworld.in/wp-content/themes/cycleworld_3/assets/img/cycle_bg.jpg);
    background-size: cover;
    padding: 10rem 0;
    position: relative;
    color: #fff;
}
.ws-content h2 {
    font-size: 50px;
    line-height: 50px;
}
.ws-content h2 span {
    font-weight: 300;
}




  

  




  
  
  
  